@using InventoryProject.ViewModel;
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="sign-in-page">
    <img class="graphic-icon" alt="" src="~/images/graphic@2x.png" />

    <a asp-action="Register" asp-controller="account" class="sign-up">Sign Up</a>

    <div class="dont-have-an">Don’t have an account?</div>
    <form method="post">
        <div class="form">
            @*<div class="forgot-password">
            <a asp-action="ForgotPassword" asp-controller="account">Forgot Password?</a>

            </div>*@
            <label asp-for="Username" class="username">Username</label>
            <input asp-for="Username" class="textbox-user" />
            <span asp-validation-for="Username" class="username-is-invalid"></span>
            <label asp-for="Password" class="password">Password</label>
            <input asp-for="Password" class="textbox-pass" />
            <span asp-validation-for="Password" class="password-is-invalid"></span>
            <button class="button" type="submit">Log In</button>
            <div asp-validation-summary="All" class="validator"></div>
        </div>
    </form>

    <div class="log-in">Log In</div>
</div>

