@model DeleteViewModel

@{
    ViewData["Title"] = "DeleteItem";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
<h1>Delete Item</h1>
</div>
</div>
<h3>Are you sure you want to delete this?</h3>
<br />

<form method="post">
            <div class="form-group">
                <input type="hidden" asp-for="@Model.ItemId"/>

                
            </div>
            <div class="form-group">
                <label asp-for="ItemName" style="width:90px"><b>ItemName</b></label>

                <label asp-for="ItemName">@Model.ItemName</label>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" style="width:90px"><b>Quantity</b></label>

                <label asp-for="Quantity">@Model.Quantity</label>
            </div>
            <div class="form-group">
                <label asp-for="Price" style="width:90px"><b>Price</b></label>

                <label asp-for="Price">@Model.Price</label>
            </div>


    <br/>
   
        <button  type="submit"  class="btn btn-primary">Delete</button>
    <a class="btn btn-danger" asp-action="Home">Back to List</a>
        </form>
    
</div>
