@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <br/>
    <br/>
    <br/>
    <img src="~/images/asset 8.png" class="rounded float-end" hight="450" width="650"/>
</div>
<div>
    <h1 class="text-primary fw-bold" style="font-size: 100px; line-height: 150px">Product Inventory</h1>
</div>