body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-playfair-display: "Playfair Display";
    /* font sizes */
    --font-size-base: 16px;
    --font-size-smi: 13px;
    /* Colors */
    --katha-extra-light: #f9e0ae;
    --katha-light: #fc8621;
    --color-whitesmoke: #f5f5f5;
    --color-white: #fff;
    /* border radiuses */
    --br-8xs: 5px;
}
